<div class="modal fade" id="addStudentModal" tabindex="-1" aria-labelledby="addStudentModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="POST" asp-page-handler="Student">
                <div class="modal-header">
                    <h5 class="modal-title" id="addStudentModalLabel">Add Student</h5>
                    <button type="button" class="btn-close btn-close-dark" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="studentFirstNameLabel" class="form-label">First name</label>
                        <input type="text" class="form-control input-dark" id="studentFirstNameLabel" name="firstName" autocomplete="off">
                    </div>
                    <div class="mb-3">
                        <label for="studentMiddleNameLabel" class="form-label">Middle name</label>
                        <input type="text" class="form-control input-dark" id="studentMiddleNameLabel" name="middleName" autocomplete="off">
                    </div>
                    <div class="mb-3">
                        <label for="studentLastNameLabel" class="form-label">Last name</label>
                        <input type="text" class="form-control input-dark" id="studentLastNameLabel" name="lastName" autocomplete="off">
                    </div>
                    <div class="mb-3">
                        <label for="studentGroupLabel" class="form-label">Group</label>
                        <input type="text" class="form-control input-dark" id="studentGroupLabel" name="group" autocomplete="off">
                    </div>
                </div>
                
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-success">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>